<div class="container-fluid">

<!--  page header-->
  <div class="card text-white bg-info align-content-center">

<!--    card header-->
    <div class="card-header">
<!--      navbar-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/order">Order</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/status">Status</a>
            </li>
          </ul>
        </div>
      </nav>

    </div>

<!--    card body-->
    <div class="card-body">
<!--      title-->
      <h2 class="card-title">Fuel Distribution System</h2>
     </div>
  </div>


  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road"/>
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <p class="card-text">
            Login with the credentials
          </p>
          <button type="button" class="btn btn-info" routerLink="/login">Login</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top" alt="Los Angeles Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <p class="card-text">Register before login if do not have an account</p>
          <button type="button" class="btn btn-info" routerLink="/register">Register</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top" alt="Los Angeles Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Report</h5>
          <p class="card-text">See orders</p>
          <button type="button" class="btn btn-info" routerLink="/report">Report</button>
        </div>
      </div>
    </div>
  </div>
</div>
