
<div class="container-fluid bg-light">
  <div class="container">


    <div class="jumbotron">

      <div class="card bg-info text-white">
        <div class="card-body text-center">
          <h1>Status</h1>
        </div>
      </div>
      <div class="row mx-auto">
        <div class="col-md-7">
          <div class="form-group">
            <label class="bmd-label-floating">Reference ID</label>
            <input type="text" class="form-control" name="name" placeholder="Enter reference id of your order" required [ngModel]="mo.orderId">
          </div>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col-md-7">
          <button type="submit" class="btn btn-primary" (click)="searchById()">Search</button>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="card mx-auto" style="width: 18rem;">
        <div class="card-header">
          Your Order
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{this.showref}}</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>

  </div>
</div>
</div>
