<div class="container-fluid bg-light">
  <div class="container">


    <div class="jumbotron">

      <div class="card bg-info text-white">
        <div class="card-body text-center">
          <h1>Login</h1>
        </div>
      </div>


          <div class="col-md-4 mx-auto">
            <img src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" class="rounded-circle mx-auto" alt="Login" height="150px" width="150px">
          </div>
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">

                      <div class="row">
                        <div class="col-md-7">
                          <div class="form-group">
                            <label class="bmd-label-floating">Id</label>
                            <input type="text" class="form-control" name="Id" required [(ngModel)]="login.id">
                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-md-7">
                          <div class="form-group">
                            <label class="bmd-label-floating">Password</label>
                            <input type="number" class="form-control" name="amount" required [(ngModel)]="login.password">
                          </div>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary" (click)="onLogin()" >Submit</button>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>


